* {
    margin: 0;
    padding: 0;
    font-family: 'space mono';
}

body {
    display: flex;
    flex-direction: row;
    background-color: black;
}

.left {
    width: 50vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: black;
    background-size: cover;
    background-position: center;
    float: left;

}

.right {
    width: 50vw;
    height: 100vh;
    color: white;
    float: right;
    background-color: black;
    padding: 40px;
    display: flex;
    flex-direction: column;
}


.inputs input{
    width: 200px;
    height: 40px;
    text-align: center;
    border-radius: 5px;
    border: black 1px solid;
    transition: transform 0.4s, box-shadow 0.4s;
}

::placeholder {
    color: black;
    opacity: 0.5;
}

.buttons button{
    margin: 20px;
    padding: 10px 20px;
    border-radius: 5px;
    border: transparent solid 3px;
    background: transparent;
    box-shadow: 5px 5px 5px black;
    cursor: pointer;
    transition: transform 0.4s;
    color: rgb(251, 133, 0);
}

.buttons button:hover {
    background-color: rgb(251, 133, 0);
    transform: translate(-5px, -5px);
    color: black;
}

.inputs input:hover {
    box-shadow: 5px 5px 5px rgb(96, 96, 96);
    transform: translate(-5px, -5px);
}

@media (max-width: 768px) {
    body {
        flex-direction: column;
    }

    .left, .right {
        width: 100vw;
        height: 50vh;
        float: none;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

